* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* ----------Shared Color Styles---------- */
.text-primary {
  color: #fd6e0a;
}

.text-secondary {
  color: #474747;
}

.text-tertiary {
  color: rgb(71, 71, 71);
}

/* .text-quaternary {} */

/* .text-quinary {} */

/* ----------Shared Button Styles---------- */
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
  cursor: pointer;
}

.btn-secondary {
  color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid #fd6e0a;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  margin-left: 30px;
}

/* ----------Shared section title styles---------- */
.section-title {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 50px;
}

/* ----------Shared section description styles---------- */
.section-description {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 30px;
}

/* ----------Shared Primary Background Color---------- */
.bg-primary {
  background-color: rgb(255, 248, 243);
}

/* ----------Shared text center---------- */
.text-center {
  text-align: center;
}

/* -------------------------------------------------- */

/* ----------Heading/Banner Background image/color Styles---------- */
header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: left, bottom right;
}

/* ----------Navigation/Navbar Styles---------- */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 230px;
}

.nav-title {
  font-weight: 700;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

/* ---------Banner styles----------*/
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}

/* ----------Banner left side content---------- */
.banner-content {
  max-width: 685px;
}

.banner-sub-title {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
}

.banner-description {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 30px;
}

/* ----------Banner right side Profile---------- */
.banner-profile {
  width: 585px;
  height: 675px;
}

.banner-profile img {
  width: 100%;
  height: 100%;
}

/* ----------Main Section style start---------- */
main {
  max-width: 1180px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}

/* ----------About Me Section Styles added---------- */
.about {
  text-align: center;
  border-radius: 10px;
  padding: 130px 130px;
}

/* ----------about information container styles---------- */
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-title {
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}

/* ----------My Skills Section Styles added---------- */
.skills-container {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 20;
}
.skill-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
}

/* ----------My Resume Styles---------- */
.resume-container {
  display: flex;
  gap: 70px;
  margin-top: 100px;
}

.resume-title {
  font-size: 30px;
  font-weight: 700;
}

.title {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sub-title {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* ----------Resume Button styles---------- */
.resume-button {
  text-align: center;
  margin-top: 50px;
}

/* ----------Contact Section Styles---------- */
.contact {
  display: flex;
  gap: 100px;
  padding: 130px 200px;
}

/* ----------left side column---------- */
.left-column {
  width: 55%;
}

.contact a {
  text-decoration: none;
}

.contact a img {
  width: 30px;
  margin-right: 20px;
}

/* ----------right side column---------- */
.right-column {
  width: 45%;
}

.contact input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  height: 64px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

/* ----------footer styles---------- */
#footer {
  text-align: center;
  padding: 25px;
  color: #333333;
  font-size: 20px;
}

/* ----------Responsive Media Query---------- */

/* ----------Small Device Responsive Added---------- */

@media screen and (max-width: 576px) {
  .skills-container,
  .resume-container {
    flex-direction: column;
  }

  .contact {
    flex-direction: column;
    padding: 20px;
  }
  .left-column,
  .right-column {
    width: 100%;
  }
  .about {
    padding: 20px;
  }
  .about-info-container {
    flex-direction: column;
    align-items: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .banner {
    flex-direction: column;
    margin: 20px;
  }
  .banner button {
    margin: 10px;
  }

  header {
    background-image: none;
  }
  .banner-profile {
    width: 100%;
  }
}
